// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.#{$css-prefix-header} {
  background: image-url('header-bg.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}