<main role="main"></main>
<!--
  <section class="servers">
    <div class="table">
      <h1>Psimerion | FIN <small>(192.168.12.22)</small></h1>
      <div class="row">
        Kurnix
      </div>
      <div class="row">
        Hummerr
      </div>
      <div class="row">
        lols
      </div>
      <div class="row">
        lols
      </div>
      <div class="row">
        lols
      </div>
    </div>
    <p style="text-align: center;">Muista myös tsekata meidän forumit ja liittyä keskusteluun<a href="#">Liity btn</a></p>
  </section>
-->