<main role="main" class="ps-main-home">
  <div class="ps-container">
    <h1 class="ps-h3 ps-text-bold">SERVER INFORMATION</h1>
    <h2 class="ps-h5">The server information was updated one minute ago.</h2>
    <div class="ps-table">
      <!-- .. details .. -->
    </div>
    <p class="ps-text-center">.. Oh yea, and we have <%= link_to "forums", "http://forum.psimerion.com" %> too.</p>
  </div>
</main>