<main role="main" class="ps-main-home">
  <section class="ps-container">
    <header class="ps-header-home">
      <h1 class="ps-h3 ps-text-bold">SERVER INFORMATION</h1>
      <p class="ps-h5">The server information was updated <span class="ps-time-ago">one minute ago.</span></p>
    </header>
    <div class="ps-table">
      <!-- .. details .. -->
    </div>
    <p class="ps-text-center">.. Oh yea, and we have <%= link_to "forums", "http://forum.psimerion.com", class: "ps-button" %> too.</p>
  </section>
</main>