// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// CSS prefixes
$css-prefix-main:   'ps' !default;
$css-prefix-helper:  $css-prefix-main + '-helper'  !default;
$css-prefix-heading: $css-prefix-main + '-heading' !default;
$css-prefix-text:    $css-prefix-main + '-text'    !default;
$css-prefix-list:    $css-prefix-main + '-list'    !default;
$css-prefix-header:  $css-prefix-main + '-header'  !default;
$css-prefix-footer:  $css-prefix-main + '-footer'  !default;
$css-prefix-button:  $css-prefix-main + '-button'  !default;

// Fonts
$font-family-main: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-family-code: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Colors
$color-brand:      #e50050          !default;
$color-light-grey: #f7f7f7          !default;
$color-mid-grey:   #999999          !default;
$color-dark-grey:  #444444          !default;
$color-text:       $color-dark-grey !default;

// Breakpoints
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

// Misc
$misc-line-height: 1.4em !default;
$misc-url: '/assets/' !default;