// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-size-base: 20px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-h1: floor(($font-size-base * 2.6));    // ~36px
$font-size-h2: floor(($font-size-base * 2.15));   // ~30px
$font-size-h3: ceil(($font-size-base * 1.7));     // ~24px
$font-size-h4: ceil(($font-size-base * 1.25));    // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85));    // ~12px

// Headings
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;
$headings-small-color: #505050; // Same as gray

// Line heights
$line-height-base: 1.428571429; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px

// Colors
$colors: (
  "red": #cd402a,
  "green": #3dcd2a,
  "gray-light": #f7f7f7,
  "gray": #505050,
  "gray-dark": #1c1c1c,
  "gray-darker": #141414,
) !default;

// Breakpoints
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

// Misc
$misc-base-url: "/assets/" !default;