<footer role="contentinfo" class="footer-index">
  <i class="fa fa-copyright"></i> 2016 Psimerion ry. All rights reserved. | Questions? <span>hello<i class="fa fa-at"></i>psimerion.com</span>
</footer>