<header role="banner" class="ps-banner">
  <nav role="navigation">
    <ul class="ps-list-inline ps-navbar">
      <li class="ps-text-bold">
        <%= link_to "PSIMERION", root_path %>
      </li>
      <li>|</li>
      <li>
        <small><%= link_to "Forum", "http://forum.psimerion.com" %></small>
      </li>
    </ul>
  </nav>

  <div class="ps-text-center">
    <div class="ps-logo-psimerion">
      <h1>PSIMERION</h1>
      <h2>The provider of the best RUST-server in Finland</h2>
    </div>
  </div>

  <%= link_to "https://playrust.com", target: "_blank", class: "ps-logo-rust" do %>
    <%= image_tag("rust-logo.png", alt: "RUST logo", width: 81) %>
  <% end %>
</header>