<!-- Header -->
<header role="banner" class="ps-header">
  <nav role="navigation">
    <ul class="ps-list-inline">
      <li class="ps-text-uppercase">
        <%= link_to "psimerion", root_path %>
      </li>
      <li>|</li>
      <li>
        <%= link_to "Forum", "#" %>
      </li>
    </ul>
  </nav>

  <!--
  <div class="logo-wrapper">
    <img src="http://www.maunovaha.com/assets/logo-5e49e134165f24d90b057e124f6be2786595f612f3b328f82ee13305df51643b.png" alt="psimerion">
  </div>
  -->
  <!--
  <p>
    Suomalainen RUST-peliservereiden ylläpitäjä.
  </p>
  -->
  <!--
  <img src="http://i0.wp.com/playrust.com/wp-content/uploads/2013/12/rust-icon-512.png" alt="RUST" class="rust-logo">
  -->
</header>