%header.ps-header
  %nav{role: 'navigation'}
    %ul.ps-nav
      %li
        = link_to 'PSIMERION', root_path
      %li
        |
      %li
        %small
          = link_to 'Forum', '#'
  %div.ps-home-banner
    %div.ps-bg-red
      %h1
        PSIMERION
    %div.ps-bg-dark-grey
      %p
        The provider of the best Rust-server in Finland
